# Arhive
*.zip
*.rar
*.7z
*.tar
*.tar.gz
*.tgz
*.gz

# Build / IDE
*.class
*.o
tema2
tema2.exe
.vscode/
.idea/
target/
lib/dependency/

# Output local
**/sol/
**/output/

# Nested repos
**/.git/
